.errorBody {
  background-image: url("/assets/images/star.svg"),
    linear-gradient(to bottom, #05007a, #4d007d);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("/assets/images/mars.svg") no-repeat bottom center;
  background-size: cover;
}

.meteor {
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

.title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
}

.subtitle {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
}

.astronaut {
  position: absolute;
  top: 18vmin;
  left: 10vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;
}

/* Keyframes */
@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-0px);
  }
}

.spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;
}
